body {
    background-image: url("../images/about.jpg");
    background-color: darkcyan;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #cccccc;
   }

.about {
    background-size: cover;
    margin-top: 15%;
}
   